[tower]
localhost ansible_connection=local

[database]

[all:vars]
admin_password='{{ tower_admin_password }}'

pg_host=''
pg_port=''

pg_database='{{ postgresql_database }}'
pg_username='{{ postgresql_user }}'
pg_password='{{ postgresql_password }}'

{% if web_server_ssl_cert is defined %}
web_server_ssl_cert={{ web_server_ssl_cert }}
{% endif %}
{% if web_server_ssl_key is defined %}
web_server_ssl_key={{ web_server_ssl_key }}
{% endif %}
