[tower]
localhost ansible_connection=local

[database]

[all:vars]
admin_password='{{ tower_admin_password }}'

pg_host=''
pg_port=''

pg_database='tower'
pg_username='tower'
pg_password='ansible-tower'
