[Unit]
Description=Install Ansible Tower {{ ansible_tower_version }} as part of startup

[Service]
Type=simple
ExecStartPre=/app/rhsm-register.sh
ExecStart=/app/setup.sh

[Install]
WantedBy=multi-user.target
